header {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
    padding: 10px
}

/* Header */
#logo-div {
    /* grid-row: 1; */
    /* display: flex; */
    /* flex-direction: row;
    align-items: center;
    justify-content: center; */
    flex: .25;
}

nav {
    flex: .2;
    display: flex;
    justify-content: space-around;
}

nav ul {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-button {
    flex: .2;
    justify-content: flex-end;
}