main {
    height: 100%;
    max-width: 100vw;
}

/* Header */
#logo-div {
    /* grid-row: 1; */
    /* display: flex; */
    /* flex-direction: row;
    align-items: center;
    justify-content: center; */
    flex: .25;
    overflow-x: hidden;
}

nav {
    flex: .2;
    display: flex;
    justify-content: space-around;
}

nav ul {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-button {
    flex: .2;
    justify-content: flex-end;
}

footer {
    height: 10%;
    background-color: blueviolet;
}