.group-workspace {
  background-color: var(--body-color);
  height: 100vh;
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
}

.workspace-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group-task-display {
  border: 1px solid black;
  width: 80%;
  height: 31vh;
  border-radius: 10px;
  overflow-y: hidden;
  white-space: nowrap;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

#time-weight-div {
  display: grid;
  grid-template-columns: auto auto;
}

.estimation-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.estimation-value-p {
  margin-top: -1rem;
}


#task-hr {
  width: 80%;
}

.individual-tasks-div {
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  overflow-y: hidden;
  border-radius: 15px;
}

.even-task {
  background-color: white;

}

.odd-task {
  background-color: var(--body-color);
}

.chat-button {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  background-color: var(--secondary2-color);
  position: sticky;
  bottom: 0;
  right: 20px;
  margin-left: auto;
  margin-top: auto;
  align-self: flex-end;
  z-index: 1000;
  box-shadow: 1px 1px;
}