.task-card {
  border: 1px solid black;
  width: 25vh;
  height: 30vh;
  flex: 0 0 auto;
  background-color: white;
  overflow: hidden; 
  word-wrap: break-word; 
  white-space: normal; 
}

.task-title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: var(--primary-color);
}

.task-card div p {
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  white-space: normal;
}