.group-member-card {
  border: 1px solid black;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.student-selection-member-card {
  cursor: pointer;
}

.group-member-card h3 {
  width: 100%;
  color: black;
  background-color: var(--primary-color);
  text-align: center;
}