.group-member-card {
  border: 1px solid black;
  width: 200px;
  /* border-radius: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group-member-card h3 {
  width: 100%;
  color: black;
  background-color: var(--primary-color);
  text-align: center;
}

/* 
.group-member-data-div {
  
} */

