/* .home-header {
  background-color: transparent;
}

.home-nav {
  background-color: transparent;
}

.home-main {
  background-color: transparent;
}

.hero-div {
  display: flex;
  justify-content: start;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  z-index: -1;
}



#hero-image {
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.hero-content-div {
  position: relative;
  width: 30vb;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 10rem;
  color: var(--body-color);
}

.hero-header-div {
  width: 60vb;
  display: flex;
  font-size: 50px;
  font-weight: bold;
}

.hero-p-div {
  width: 80vb;
  overflow-wrap: break-word;
  text-align: left;
  font-size: 25px;
}

.hero-button {
  background-color: var(--secondary2-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  left: 50%; 
} */

/* ---------------------------------------------- */

/* Ensure the header stays on top */


.hero-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
}


.home-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.home-header.scrolled-header {
  /* This is the primary color in rgb */
  background-color: rgb(0, 122, 204, 0.85);
}

#hero-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
}

.home-nav {
  background-color: transparent;
}

.hero-content-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: var(--body-color);
  width: 40%;
}

.hero-header-div {
  font-size: 50px;
  font-weight: bold;
}

.hero-p-div {
  font-size: 25px;
}

.home-content {
  background-color: white;
  padding: 4rem 2rem;
  position: relative;
}

.home-content-div {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.hero-button {
  background-color: var(--secondary2-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  left: 50%;
  width: 50%;
}