/* pages */
@import url(./pages/GroupSelection/GroupSelection.css);
@import url(./pages/GroupWorkspace/GroupWorkspace.css);

/* components */
@import url(./components/TaskDisplayComponent/TaskDisplayComponent.css);
@import url(./components/GroupCard/GroupCard.css);
@import url(./components/GroupDisplayComponent/GroupDisplayComponent.css);
@import url(./components/TaskCard/TaskCard.css);
@import url(./components/IndividulTaskCard/IndividualTaskCard.css);
@import url(./components/StudentTaskModal/StudentTaskModal.css);

/* Modals */
@import url(./components/IndividualTaskModal/IndividualTaskModal.css);
@import url(./components/GroupModal/GroupModal.css);

:root {
  --text-color: #424242;
  --body-color: #F5F5F5;
  --primary-color: #007ACC;
  --secondary1-color: #66BB6A;
  --secondary2-color: #FFA726;
  --link-highlight-color: azure;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

header {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: auto;
}

#logo-div {
  background-color: white;
  border-radius: 5px;
  max-width: 100vw;
  max-height: auto;
}

#logo {
  max-width: 100%;
  height: auto;
  display: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0078d4;
  padding: 10px 20px;
  color: white;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 2em;
}

nav a {
  color: var(--secondary2-color);
}

.App {
  text-align: center;
  height: 100%;
}

* {
  box-sizing: border-box;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #022129;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}